.my-button {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.gallery-item {
    margin: 10px 0;
}


.gallery-image{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
}
